* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: white;
}

.slider {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.slider .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item .content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
}

.slider .list .item .button button {
    border: 2px solid black;
    margin: 20px 0;
    background: white;
    cursor: pointer;
    font-weight: 500;
    transition: 0.4s;
    padding: 10px 20px;
}

.slider .list .item .button button:hover {
    transform: scale(1.2);
    border-color: #ff1414cb;
}

/* Arrow Buttons */
.arrowButtons {
    position: absolute;
    top: 50%; /* Vertically center the arrows */
    z-index: 100;
    width: 100%; /* Full width */
    display: flex;
    justify-content: space-between; /* Position the buttons at the edges */
    transform: translateY(-50%); /* Adjust for vertical centering */
    padding: 0 10px; /* Add some space from the edges */
}

.arrowButtons button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ff1414cb;
    border: none;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

.arrowButtons button:hover {
    background-color: white;
    color: black;
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
    .arrowButtons button {
        width: 35px;
        height: 35px;
    }

    .slider .list .item .button button {
        font-size: 14px; /* Smaller button text */
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {

    .arrowButtons button {
        width: 30px;
        height: 30px;
    }

    .slider .list .item .button button {
        font-size: 12px; /* Even smaller button text */
        padding: 6px 12px;
    }
}
